# broader first
*
!/**/
!*.*
# then more specific
.vscode
.metals
*.class
*.log
*.pyc
*.exe
.idea
temp.*
*temp*
tempCodeRunnerFile.*
input.txt
.cph/
inp.txt
codility/
cisco
bny/
linkedin/
companies/Fundwave/*
vim_exercise.txt
cheatsheets/vim_excercise.txt
